@font-face {
    font-family: mont;
    src: url(fonts/Mont\ Heavy\ DEMO.ttf);
}

* {
    margin: 0;
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
    font-family: "Dosis", sans-serif;
}

html,
body {
    /* height: 100%; */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.8vw;
}


/* Track */

::-webkit-scrollbar-track {
    background: #464646;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: relative;
    /* background: linear-gradient(-45deg, rgb(255, 238, 0), #ff5e00,  #ff3300); */
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    background-color: #121c35;
}

.background_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    background-color: rgb(15, 28, 112);
}

header {
    background-color: #0f172a;
    width: 100%;
    height: 4%;
    top: 0;
    position: fixed;
    z-index: 3;
    filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0));
    justify-content: space-between;
    padding: 15px 100px;
    display: flex;
    align-items: center;
}

#logo {
    position: relative;
    width: 128px;
    height: 72px;
    left: 15px;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

header a:hover {
    color: #2d4090;
}

#arrowdown {
    position: relative;
    left: 5px;
}

header #menu-icon {
    font-size: 20px;
    margin-right: 30px;
    color: white;
}

h1 {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 70vh;
    font-weight: 400;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    width: 60vw;
    background-size: cover;
    position: relative;
    z-index: 3;
    background-size: 400% 400%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-top: -20vh;
}

p {
    color: black;
    font-size: 70px;
    margin: 20px;
    text-align: center;
}

.boxed-area {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.boxed-area li {
    position: absolute;
    display: block;
    list-style: none;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
    animation: lmao 20s linear infinite;
    bottom: -150px;

}

.boxed-area li:nth-child(1) {
    left: 12%;
    width: 60px;
    height: 60px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    border-radius: 50%;
}

.boxed-area li:nth-child(3) {
    left: 90%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
    border-radius: 50%;
}

.boxed-area li:nth-child(4) {
    left: 25%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
    border-radius: 50%;
}

.boxed-area li:nth-child(5) {
    left: 60%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
    border-radius: 50%;
}

.boxed-area li:nth-child(6) {
    left: 70%;
    width: 120px;
    height: 120px;
    animation-delay: 0.5s;
    animation-duration: 15s;
    border-radius: 50%;
}

.boxed-area li:nth-child(7) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    border-radius: 50%;
}

.boxed-area li:nth-child(8) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-duration: 3.5s;
    border-radius: 50%;
}

.boxed-area li:nth-child(9) {
    left: 46%;
    width: 110px;
    height: 110px;
    animation-duration: 2s;
    animation-duration: 15s;
    border-radius: 50%;
}

.boxed-area li:nth-child(10) {
    left: 26%;
    width: 90px;
    height: 90px;
    animation-duration: 10s;
    animation-delay: 0.2s;
    border-radius: 50%;
}

.boxed-area li:nth-child(11) {
    left: 35%;
    width: 400px;
    height: 400px;
    animation-duration: 5s;
    animation-delay: 0.5s;
    border-radius: 50%;
}

.boxed-area li:nth-child(11) {
    left: 50%;
    width: 100px;
    height: 100px;
    animation-duration: 10s;
    animation-delay: 0.5s;
    border-radius: 50%;
}

@keyframes lmao {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/* Drop down menu code */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #121c35;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #233769;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#arrow {
    height: 100px;
    width: 100px;
    border-radius: 3%;
    position: absolute;
    transition: 0.5s ease;
    animation: animate 2s ease 1;
    top: 44%;
    left: 47%;
    align-items: center;
    /*put animation into hover for animation to play during hover*/
}

@keyframes animate {
    0% {
        transform: rotate(180deg);
        top: -1000px;
        opacity: 1;
    }
    100% {
        top: 44%;
        opacity: 1;
    }
}

#nft-token {
    width: 300px;
    height: 400px;
    border-radius: 2%;
    position: absolute;
    background-color: rgb(48, 48, 48);
    animation: play 2s ease 0s 1 forwards;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    /*put animation into hover for animation to play during hover*/
}

@keyframes play {
    0% {
        transform: rotate(90deg);
        right: -1000px;
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) rotate(0deg);
        right: 10%;
        opacity: 1;
    }
}

#nft-token:hover {
    position: absolute;
    width: 315px;
    height: 420px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#nft-token::after {
    transform: rotate(180deg);
}

h2{
    font-size: 300px;
    position: absolute;
    left: 90px;
    align-items: center;
    color: #000000;
}

#coin {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(31, 31, 31);
    animation: play1 2s ease 0s 1 forwards;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    /*put animation into hover for animation to play during hover*/
}

@keyframes play1 {
    0% {
        transform: rotate(180deg);
        left: -1000px;
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) rotate(0deg);
        left: 30%;
        opacity: 1;
    }
}

#coin:hover {
    width: 380px;
    height: 380px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}


/* -------------------------------------- */

/* #blur{
width: 15px;
height: 15px;
border-radius: 50%;
background-color: rgb(0, 225, 255);
box-shadow: 0 0 1000px 500px rgb(0, 225, 255);
align-self: center;
} */
