 @font-face {
     font-family: mont;
     src: url(fonts/Mont\ Heavy\ DEMO.ttf);
 }

 * {
     margin: 0;
     font-family: 'Rubik', sans-serif;
 }

 html, body {
     height: 100%;
 }

 ::-webkit-scrollbar {
     width: 0.8vw;
 }

 /* Track */

 ::-webkit-scrollbar-track {
     background: #464646;
 }

 /* Handle */

 ::-webkit-scrollbar-thumb {
     background: #000000;
     border-radius: 0px;
 }

 /* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
     background: #000000;
 }

 .background {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 50vh;
     width: 100vw;
     background-position: center;
     background-size: cover;
     position: relative;

     background: linear-gradient(-45deg, #2500f8, #0059ff, #3498DB);
     background-size: 400% 400%;
     animation: Gradient 5s ease infinite;
     color: rgb(242, 242, 242);
 }

 .background_2 {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100vw;
     background-position: center;
     background-size: cover;
     position: relative;
     z-index: 1;
     background-size: 400% 400%;
     animation: Gradient 5s ease infinite;
     color: rgb(242, 242, 242);
     background-color: rgb(15, 28, 112);
 }

 header {
     background-color: #3498DB;
     width: 100%;
     top: 0;
     position: fixed;
     z-index: 3;
     filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0));
     justify-content: space-between;
     padding: 15px 100px;
 }

 header #logo {
     position: relative;
     font-size: 1.2rem;
     width: 96px;
     height: 30px;
     top: 10px;
     left: -10px;
 }

 @keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }

 ul li {
     list-style: none;
     display: inline-block;
     padding: 10px 20px;
     position: relative;
 }

 ul li a {
     color: #000000;
     text-decoration: none;
     font-size: 20px;
     font-weight: bold;
 }

 ul li a:hover {
     color: #2D4090;
 }

 h1 {
     font-size: 100px;
     color: #000000;
     margin-top: -15vh;

 }

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    width: 60vw;
    background-size: cover;
    position: relative;
    z-index: 3;
    background-size: 400% 400%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-top: -20vh;
}

p{
    color: black;
    font-size: 70px;
    margin: 20px;
    text-align: center;
    margin-top: -40vh;

}

